.bgColor{
    box-shadow: 0 0 10px;
    box-sizing: border-box;
    background: #fff;
    width: 500px;
    padding: 50px 50px 40px;
    border-radius: 12px;
    border: 10px solid;
    border-image: linear-gradient(135deg,
    #ff0000 0%,
    #ffa500 16.6%,
    #ffff00 33.3%,
    #008000 50%,
    #0000ff 66.6%,
    #4b0082 83.4%,
    #ee82ee 100%,
    ) 1;
}

.btnsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}